
@using Jumia.Model
@using System.Globalization
@using Microsoft.AspNetCore.Mvc.Localization;

@inject IViewLocalizer localizer
@{
    var isRtl = CultureInfo.CurrentCulture.Name.StartsWith("ar");
}
@model List<Transaction>

<h2 style="text-align: center;">@localizer["Transactions"]</h2>

<table class="table" dir="@(isRtl ? "RTL":"LTR")">
    <thead>
        <tr>
            <th>User ID</th>
            <th>@localizer["Username"]</th>
            <th>@localizer["Amount"]</th>
            <th>@localizer["Withdrawal Method"]</th>
            <th>@localizer["Phone Number"]</th>
            <th>@localizer["numberOfWithdrawl"]</th>
            <th>@localizer["status"]</th>
            <th>@localizer["Date Placed"]</th>
           @*  <th>Actions</th> *@
        </tr>
    </thead>
    <tbody>
        @foreach (var transaction in Model)
        {
            <tr>
                <td>@transaction.UserId</td>
                <td>@(transaction.userName ?? "N/A")</td> <!-- Handle null UserName -->
                <td>@transaction.Amount</td>
                <td>@transaction.WithdrawalMethod</td>
                <td>@transaction.Phone</td>
                <td>@String.Format("{0:0}",transaction.NumberOfWithdrawl)</td>

                <td>
                    <form asp-action="UpdateTransactionStatus" method="post" style="display:inline;">
                        <input type="hidden" name="transactionId" value="@transaction.Id" />
                        <select name="status" onchange="this.form.submit()">
                            @if (transaction.Status == "Pending")
                            {
                                <option value="Pending" selected="selected">Pending</option>
                                <option value="Completed">Completed</option>
                            }
                            else
                            {
                                <option value="Pending">Pending</option>
                                <option value="Completed" selected="selected">Completed</option>
                            }
                        </select>
                    </form>
                </td>
                <td>@transaction.DatePlaced</td>
                <td>
                    <!-- Add any other action buttons here -->
                </td>
            </tr>
        }
    </tbody>
</table>

@if (ViewBag.TotalPages > 1)
{
    <div class="container">
        <ul class="pagination justify-content-center">
            <!-- Pagination links -->
            <li class="page-item @(ViewBag.PageNumber == 1 ? "disabled" : "")">
                <a class="page-link" href="@Url.Action("DisplayTransactions", new { searchString = ViewBag.SearchString, pageNumber = 1, pageSize = ViewBag.PageSize })">First</a>
            </li>
            <!-- Previous page -->
            <li class="page-item @(ViewBag.PageNumber == 1 ? "disabled" : "")">
                <a class="page-link" href="@Url.Action("DisplayTransactions", new { searchString = ViewBag.SearchString, pageNumber = ViewBag.PageNumber - 1, pageSize = ViewBag.PageSize })">Previous</a>
            </li>

            <!-- Dynamic page numbers -->
            @for (int i = 1; i <= ViewBag.TotalPages; i++)
            {
                <li class="page-item @(ViewBag.PageNumber == i ? "active" : "")">
                    <a class="page-link" href="@Url.Action("DisplayTransactions", new { searchString = ViewBag.SearchString, pageNumber = i, pageSize = ViewBag.PageSize })">@i</a>
                </li>
            }

            <!-- Next page -->
            <li class="page-item @(ViewBag.PageNumber == ViewBag.TotalPages ? "disabled" : "")">
                <a class="page-link" href="@Url.Action("DisplayTransactions", new { searchString = ViewBag.SearchString, pageNumber = ViewBag.PageNumber + 1, pageSize = ViewBag.PageSize })">Next</a>
            </li>
            <!-- Last page -->
            <li class="page-item @(ViewBag.PageNumber == ViewBag.TotalPages ? "disabled" : "")">
                <a class="page-link" href="@Url.Action("DisplayTransactions", new { searchString = ViewBag.SearchString, pageNumber = ViewBag.TotalPages, pageSize = ViewBag.PageSize })">Last</a>
            </li>
        </ul>
    </div>
}
