@model IEnumerable<OrderDto>
@using System.Globalization
@using Microsoft.AspNetCore.Mvc.Localization;

@inject IViewLocalizer localizer
@{
    var isRtl = CultureInfo.CurrentCulture.Name.StartsWith("ar");
}
@{
    ViewBag.Title = @localizer["Orders"];

}

<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

@*     <link rel="stylesheet" href="~/css/Ordersdisplay.css" />
 *@    <style>
  
tr:hover {
    background-color: white !important;
}
    </style>
</head>
<body>
    <div class="container text-center mt-4 mb-4">
        <h2 class="display-4 font-weight-bold">@localizer["Orders"]</h2>
    </div>

    <form method="get" action="@Url.Action("DisplayOrders", "Admin")" class="mb-4">
        <div class="form-row align-items-center">
            <!-- Button to export current page to Excel -->
            <div class="col-auto">
                <a href="@Url.Action("ExportCurrentPageToExcel", "Admin")" class="btn btn-success">Export Current Page to Excel</a>
            </div>
            <!-- Button to export all pages to Excel -->
            <div class="col-auto">
                <a href="@Url.Action("ExportAllOrdersToExcel", "Admin")" class="btn btn-success">Export All Orders to Excel</a>
            </div>
        </div>
    </form>







    <form method="get" action="@Url.Action("DisplayOrders", "Admin")" class="mb-4">
        <div class="form-row align-items-center">
            <div class="col-auto">
                <label for="searchStringInput" class="sr-only">@localizer["Search"]</label>
                <input type="text" class="form-control" id="searchStringInput" name="searchString" placeholder="@localizer["Search Orders"]">
            </div>
            <div class="col-auto">
                <button type="submit" class="btn btn-primary">@localizer["Search"]</button>
            </div>
        </div>
    </form>



    <div class="table-responsive">
        <table class="table table-striped table-hover table-responsive-sm" style="background-color:white;">
            <thead>
                <tr>
                    <th scope="col">@localizer["Order ID"]</th>
                    <th scope="col">@localizer["UserName"]</th>
                    <th scope="col">@localizer["DateListed"]</th>
                    <th scope="col">@localizer["Total Price"]</th>
                    <th scope="col">@localizer["City"]</th>
                    <th scope="col">@localizer["Street"]</th>
                    <th scope="col">@localizer["Status"]</th>
                    <th scope="col">@localizer["barcode"]</th>
                    <th scope="col">@localizer["Action"]</th>
                   
                    <th scope="col">@localizer["Action"]</th>
                   

                </tr>
            </thead>
            <tbody>
                @{
                    int index = 0; // Initialize index to cycle through cities and streets
                }
                @foreach (var order in Model)
                {
                    // Ensuring the index is within bounds for both cities and streets
                   
                    <tr>
                        <td>@order.Id</td>
                        <td>@order.UserName</td>
                        <td>@order.DatePlaced.ToString("dd/MM/yyyy")</td>
                        <td>@order.TotalPrice</td>
                        <td>@(order.Cities != null && order.Cities.Any() ? order.Cities[index % order.Cities.Count] : "")</td>
                        <td>@(order.Streets != null && order.Streets.Any() ? order.Streets[index % order.Streets.Count] : "")</td>
                        <td>@order.Status</td>
                        <td>
                            <img src="data:image/png;base64,@order.BarcodeImageUrl" alt="Barcode Image" class="img-fluid" style="max-width: 400px; height: 50px;">
                        </td>




                        <td>
                            @using (Html.BeginForm("UpdateStatus", "Admin", FormMethod.Post))
                            {
                                @Html.Hidden("orderId", order.Id)
                                <select name="status" class="form-control">
                                    @if (order.Status == "Pending")
                                    {
                                        <option value="Pending" selected>Pending</option>
                                    }
                                    else
                                    {
                                        <option value="Pending">Pending</option>
                                    }
                                    @if (order.Status == "Processing")
                                    {
                                        <option value="Processing" selected>Processing</option>
                                    }
                                    else
                                    {
                                        <option value="Processing">Processing</option>
                                    }
                                    @if (order.Status == "Shipped")
                                    {
                                        <option value="Shipped" selected>Shipped</option>
                                    }
                                    else
                                    {
                                        <option value="Shipped">Shipped</option>
                                    }
                                    @if (order.Status == "Delivered")
                                    {
                                        <option value="Delivered" selected>Delivered</option>
                                    }
                                    else
                                    {
                                        <option value="Delivered">Delivered</option>
                                    }

                                    @if (order.Status == "NotDelivered")
                                    {
                                        <option value="NotDelivered" selected>NotDelivered</option>
                                    }
                                    else
                                    {
                                        <option value="NotDelivered">NotDelivered</option>
                                    }
                                </select>
                              <td>  <button type="submit" class="btn btn-primary btn-sm">@localizer["Update"]</button><td/>
                           
                        </td>
                        }
                    </tr>
                    index++;
                }
               
            </tbody>
        </table>
    </div>






    <!-- Pagination -->
    <div class="container">
        <ul class="pagination justify-content-center">
            <li class="page-item @(ViewBag.PageNumber == 1 ? "disabled" : "")">
                <a class="page-link" href="@Url.Action("DisplayOrders", "admin", new { pageNumber = 1, pageSize = ViewBag.PageSize })">First</a>
            </li>
            <li class="page-item @(ViewBag.PageNumber == 1 ? "disabled" : "")">
                <a class="page-link" href="@Url.Action("DisplayOrders", "admin", new { pageNumber = ViewBag.PageNumber - 1, pageSize = ViewBag.PageSize })">Previous</a>
            </li>

            <!-- Display dynamic page numbers -->
            @if (ViewBag.TotalPages <= 3)
            {
                // If total pages are 3 or less, display all pages
                for (int i = 1; i <= ViewBag.TotalPages; i++)
                {
                    <li class="page-item @(ViewBag.PageNumber == i ? "active" : "")">
                        <a class="page-link" href="@Url.Action("DisplayOrders", "admin", new { pageNumber = i, pageSize = ViewBag.PageSize })">@i</a>
                    </li>
                }
            }
            else
            {
                // If total pages are more than 3
                int startPage = Math.Max(ViewBag.PageNumber - 1, 1);
                int endPage = Math.Min(ViewBag.PageNumber + 1, ViewBag.TotalPages);

                if (startPage > 1)
                {
                    <li class="page-item">
                        <a class="page-link" href="#">...</a>
                    </li>
                }

                for (int i = startPage; i <= endPage; i++)
                {
                    <li class="page-item @(ViewBag.PageNumber == i ? "active" : "")">
                        <a class="page-link" href="@Url.Action("DisplayOrders", "admin", new { pageNumber = i, pageSize = ViewBag.PageSize })">@i</a>
                    </li>
                }

                if (endPage < ViewBag.TotalPages)
                {
                    <li class="page-item">
                        <a class="page-link" href="#">...</a>
                    </li>
                }
            }

            <li class="page-item @(ViewBag.PageNumber == ViewBag.TotalPages ? "disabled" : "")">
                <a class="page-link" href="@Url.Action("DisplayOrders", "admin", new { pageNumber = ViewBag.PageNumber + 1, pageSize = ViewBag.PageSize })">Next</a>
            </li>
            <li class="page-item @(ViewBag.PageNumber == ViewBag.TotalPages ? "disabled" : "")">
                <a class="page-link" href="@Url.Action("DisplayOrders", "admin", new { pageNumber = ViewBag.TotalPages, pageSize = ViewBag.PageSize })">Last</a>
            </li>
        </ul>
    </div>





    <div class="container ">
        <div class="row">
            <div class="col">
                <div class="container mx-auto" style="text-align: center;margin: 20px;">
                    <p>
                        <a class="logout-button" asp-area="" asp-controller="admin" asp-action="index">
                            <i class="fas fa-sign-out-alt"></i>
                            <span>@localizer["The Main Page"]</span>
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>




    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
